@charset "utf-8";
	.st12
{
	font-family : Ä«¤è-Ác;
	font-size : 119px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st11
{
	font-family : Ä«¤è-Ác;
	font-size : 119px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st4
{
	font-family : Ä«¤è-Ác;
	font-size : 72px;
	line-height : 101px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st3
{
	font-family : Ä«¤è-Ác;
	font-size : 72px;
	line-height : 101px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st6
{
	font-family : Ä«¤è-Ác;
	font-size : 55px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st2
{
	font-family : Ä«¤è-Ác;
	font-size : 81px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st1
{
	font-family : Ä«¤è-Ác;
	font-size : 72px;
	line-height : 101px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st
{
	font-family : Ä«¤è-Ác;
	font-size : 56px;
	line-height : 79.73px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st5
{
	font-family : Ä«¤è-Ác;
	font-size : 81px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st8
{
	font-family : Ä«¤è-Ác;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
